<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Профессии</title>
        <link rel="stylesheet" href="/static/css/training.css">
    </head>
    <body>
        <h1>Миссия Колонизация Марса</h1>
        <h4>И на Марсе будут яблони цвести!</h4>
        {% if list_type == 'ol' %}
            <ol>
                {% for item in profs['profs'] %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ol>
        {% elif list_type == 'ul' %}
            <ul>
                {% for item in profs['profs'] %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </body>
</html>